<ul class="nav nav-tabs" style="background-color:#37363F; color:#C7C8C8;">
  <li class="active"><a data-toggle="tab" href="#home">TABLE</a></li>
  <li><a data-toggle="tab" href="#menu1">EMPORTER</a></li>
  <li><a data-toggle="tab" href="#menu2">LIVRAISON</a></li>
  <li><a data-toggle="tab" href="#menu2">EN lIGNE</a></li>
  <li><a data-toggle="tab" href="#menu2">AUTRES</a></li>
  <li><a data-toggle="tab" href="#menu2">COM. PAYE</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="container tab-pane fade in active">
    <h3>HOME</h3>
    <button id="add2tab" class="btn btn-primary">add</button>
    <button id="del4tab" class="btn btn-danger">del</button>
    <table id="myTable" class="table">
      <thead>
        <th>Row</th>
        <th>Add</th>
        <th>Del</th>
        <th>Name</th>
        <th>Description</th>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div id="menu1" class="tab-pane fade">
    <h3>Menu 1</h3>
    <p>Some content in menu 1.</p>
  </div>
  <div id="menu2" class="tab-pane fade">
    <h3>Menu 2</h3>
    <p>Some content in menu 2.</p>
  </div>
</div>

<script>
var count = 0;
$('#add2tab').on('click', function(){
  count++;
  $('#myTable tbody:last-child').append('
    <tr><td>'+count+'</td><td>body1</td><td>body2</td></tr>
  ');
});
$('#del4tab').on('click', function(){
  $('#myTable tbody tr:last').remove();
  if (count > 0){ count--; }
});
</script>