<div class="container text-center" style="background-image:url(<%=asset_path '42_background.png'%>);background-position:center;">
	<a style="margin-top:50px;margin-bottom:50px" class="btn btn-primary" href="buttons">Button Jungle</a>
</div>